## Data Loaders

This notebook demonstrates the use of different data loaders in `tgml`. The job of a data loader is to pull data from the TigerGraph database. Currently, the following data loaders are provided:
* EdgeLoader, which returns either the whole edgelist or batches of edges. Edge attributes are not supported currently.
* VertexLoader, which returns either all the vertices or batches of vertices. Vertex attributes are supported.
* GraphLoader, which returns the whole graph in `PyG` or `DGL` format.
* NeighborLoader, which returns subgraphs using neighbor sampling.

Every data loader above can either stream data directly from the server to user or cache data on the cloud. For the latter, data will be moved to a cloud storage first and then downloaded to local, so it will be slower compared to streaming directly from the server. However, when there are multiple consumers of the same data such as when trying out different models in parallel or tuning hyperparameters, the cloud caching would reduce the workload on the server, and consequently it might be faster than hitting the server from multiple consumers at the same time. 

Note: For the data loaders to work, the Graph Data Processing Service has to be running on the TigerGraph server.

### Define Graph

Conceptually, the `TigerGraph` class represents the graph stored in the database. Under the hood, it stores the necessary information to communicate with the TigerGraph database. It can read `username` and `password` from environment variables `TGUSERNAME` and `TGPASSWORD`. Hence, we recommend storing those credentials in the environment variables instead of hardcoding them in code. However, if you do provide `username` and `password` to this class constructor, the environment variables will be ignored.

In [1]:
from tgml.data import TigerGraph

Args to the `TigerGraph` class:
*    host (str, ): Address of the server. Defaults to "http://localhost".
*    graph (str, ): Name of the graph. Defaults to None.
*    username (str, optional): Username. Defaults to the env variable TGUSERNAME or None.
*    password (str, optional): Password for the user. Defaults to the env variable TGPASSWORD or None.
*    rest_port (str, optional): Port for the REST endpoint. Defaults to "9000".
*    gs_port (str, optional): Port for GraphStudio. Defaults to "14240".
*    token_auth (bool, optional): Whether to use token authentication. If True, token authentication must be turned on in the TigerGraph database server. Defaults to True.

In [2]:
tgraph = TigerGraph(
    host="http://127.0.0.1", # Change the address to your database server's
    graph="Cora",
    username="tigergraph",
    password="tigergraph",
    token_auth=False # Whether to use token authentication. If True, token authentication must be turned on in the TigerGraph database server.
)

In [3]:
# Basic metadata about the graph such as schema.
tgraph.info()

Using graph 'Cora'
---- Graph Cora
Vertex Types:
  - VERTEX Paper(PRIMARY_ID id INT, x LIST<INT>, y INT, train_mask BOOL, val_mask BOOL, test_mask BOOL) WITH STATS="OUTDEGREE_BY_EDGETYPE", PRIMARY_ID_AS_ATTRIBUTE="true"
Edge Types:
  - DIRECTED EDGE Cite(FROM Paper, TO Paper)

Graphs:
  - Graph Cora(Paper:v, Cite:e)
Jobs:
  - CREATE LOADING JOB load_cora_data {
      DEFINE FILENAME edge_csv = "/home/tigergraph/data/Cora/edges.csv";
      DEFINE FILENAME node_csv = "/home/tigergraph/data/Cora/nodes.csv";
      LOAD node_csv TO VERTEX Paper VALUES($"id", SPLIT($"x", " "), $"y", $"train", $"valid", $"test") USING SEPARATOR=",", HEADER="true", EOL="\n";
      LOAD edge_csv TO EDGE Cite VALUES($"source", $"target") USING SEPARATOR=",", HEADER="true", EOL="\n";
    }

Queries:
  - get_vertex_number(string v_type, string filter_by) (installed v2)

In [4]:
# Total number of vertices
tgraph.number_of_vertices()

2708

In [5]:
# Number of vertices of a specific type
tgraph.number_of_vertices("Paper")

2708

In [7]:
# Number of vertices of a specific type and filtered by a boolean attribute
tgraph.number_of_vertices(vertex_type = "Paper", filter_by = "train_mask")

140

In [6]:
# Total number of edges
tgraph.number_of_edges()

140

In [9]:
# Number of edges of a specific type
tgraph.number_of_edges("Cite")

10556

### Edge Loader

In [10]:
from tgml.dataloaders import EdgeLoader

For the first time you initialize the loader on a graph in TigerGraph, the initialization might take a minute as it installs the corresponding query to the database and optimizes it. However, the query installation only needs to be done once, so it will take no time when you initialize the loader on the same TG graph again.  

There are two ways to use the data loader. 
* First, it can be used as an iterator, which means you can loop through it to get every batch of data. If you load all edges at once, there will be only one batch (of all the edges) in the iterator. 
* Second, you can access the `data` property of the class directly. If there is only one batch of data to load, it will give you the batch directly instead of an iterator, which might make more sense in that case. If there are multiple batches of data to load, it will return the iterator again. 

Args to `EdgeLoader` class:
* graph (TigerGraph): Connection to the TigerGraph database.
* batch_size (int, optional): Size of each batch. If given, `num_batches` will be recalculated based on batch size. Defaults to None.
* num_batches (int, optional): Number of batches to split the whole dataset. Defaults to 1.
* local_storage_path (str, optional): Place to store data locally. Defaults to "./tmp".
* cloud_storage_path (str, optional): S3 path used for cloud caching. Defaults to None.
* buffer_size (int, optional): Number of data batches to prefetch and store in memory. Defaults to 4.
* output_format (str, optional): Format of the output data of the loader. Defaults to "dataframe".
* aws_access_key_id (str, optional): AWS access key. Defaults to None.
* aws_secret_access_key (str, optional): AWS access key secret. Defaults to None.

If using cloud caching, cloud storage access keys need to be provided. For AWS s3, `aws_access_key_id` and `aws_secret_access_key` are required. However, the class can read from environment variables `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY`, and again it is recommended to store those credentials in the `.env` file instead of hardcoding them.

#### Load all edges at once directly to local. Default.

In [11]:
%%time
edge_loader = EdgeLoader(tgraph)

CPU times: user 6.62 ms, sys: 2.85 ms, total: 9.47 ms
Wall time: 34.4 s

In [12]:
%%time
# Use case 1: iterator
data = []
for batch in edge_loader:
    data.append(batch)

CPU times: user 9.52 ms, sys: 3.26 ms, total: 12.8 ms
Wall time: 1.3 s

In [13]:
data

[          0     1
 0      2703  1298
 1      1573   598
 2      2206  1951
 3       206    71
 4      2543  1000
 ...     ...   ...
 10551   427  1528
 10552  1518  1129
 10553  1518  1063
 10554  1518   577
 10555   407  1681

 [10556 rows x 2 columns]]

In [14]:
%%time
# Use case 2: `data` property
data = edge_loader.data

CPU times: user 5 µs, sys: 0 ns, total: 5 µs
Wall time: 8.11 µs

In [15]:
data

          0     1
0      2703  1298
1      1573   598
2      2206  1951
3       206    71
4      2543  1000
...     ...   ...
10551   427  1528
10552  1518  1129
10553  1518  1063
10554  1518   577
10555   407  1681

[10556 rows x 2 columns]

#### Stream batches of edges directly to local.

In [16]:
%%time
edge_loader = EdgeLoader(tgraph, batch_size = 256)

CPU times: user 6.19 ms, sys: 2.49 ms, total: 8.68 ms
Wall time: 35.3 s

In [17]:
%%time
# Use case 1: as an iterator
data = []
for batch in edge_loader:
    data.append(batch)

CPU times: user 199 ms, sys: 22.4 ms, total: 221 ms
Wall time: 3.28 s

In [18]:
print("Number of batches: ", len(data))
data

Number of batches:  42

[        0     1
 0     239   887
 1     484  2046
 2     239  2182
 3     137  2144
 4    2032  1336
 ..    ...   ...
 283   661  1045
 284   251  1542
 285  1656   306
 286  1518   577
 287   251  1300

 [288 rows x 2 columns],
         0     1
 0    2135   175
 1    2135  2282
 2    1033  2168
 3     969  2450
 4    1154  1007
 ..    ...   ...
 236  1745  2596
 237  1927  1435
 238   251   507
 239   251  1933
 240   407   695

 [241 rows x 2 columns],
         0     1
 0    2118  2117
 1    1273  2034
 2    1735   969
 3      49  2034
 4    1975  1676
 ..    ...   ...
 245  1821   603
 246  1821   316
 247  1701  1857
 248  1219    45
 249   244  1610

 [250 rows x 2 columns],
         0     1
 0    1336  2032
 1    2296  1134
 2    2163  1348
 3     708   836
 4     258  1401
 ..    ...   ...
 238  1839  2424
 239   156  1358
 240  1215  1131
 241  1753  1358
 242   251  1413

 [243 rows x 2 columns],
         0     1
 0    2199   731
 1     258  2645
 2    1295  1171
 3    1926  1416
 4     130    88
 ..    ...   ...
 228  1171  1909
 229  2444    16
 230  1214  1716
 231  1214  1745
 232  2023   651

 [233 rows x 2 columns],
         0     1
 0    1118  1042
 1    1573  2698
 2     861  2330
 3     797  2359
 4     708  2212
 ..    ...   ...
 235  2265  1322
 236   661   344
 237  2484   369
 238  1773  1780
 239  1839  1204

 [240 rows x 2 columns],
         0     1
 0     141  2034
 1      69   604
 2      14  2075
 3     258  1153
 4      14  2077
 ..    ...   ...
 253   579  1808
 254   579  1134
 255  1950  1944
 256  1296   440
 257  1691   700

 [258 rows x 2 columns],
         0     1
 0    1846  1701
 1    1611  2124
 2    1682   695
 3    2135   190
 4    1695  1463
 ..    ...   ...
 242   270   838
 243   491   190
 244  1950  1054
 245  1940  1300
 246  1940   402

 [247 rows x 2 columns],
         0     1
 0     756   240
 1      51   457
 2     239  1376
 3     484  1367
 4    1735  1412
 ..    ...   ...
 274   376   220
 275  1185   278
 276  1534  1082
 277  2455   123
 278   345   833

 [279 rows x 2 columns],
         0     1
 0    1702    22
 1    1257  2249
 2    1269   890
 3       0  2582
 4     956   492
 ..    ...   ...
 251  1215   270
 252  1656  1798
 253  1574   519
 254  1156   771
 255  1219   994

 [256 rows x 2 columns],
         0     1
 0    1702  1703
 1    2543  1000
 2     595  1256
 3    2199  2201
 4      36  1505
 ..    ...   ...
 249   343   311
 250   559   472
 251  1927  1152
 252  1568   748
 253  1940  1542

 [254 rows x 2 columns],
         0     1
 0      69  1013
 1     797  1833
 2    1203  1842
 3    2379  1107
 4    1703  1417
 ..    ...   ...
 218   661  1028
 219  2006  1986
 220   661  1879
 221  1809  1806
 222   436  1494

 [223 rows x 2 columns],
         0     1
 0    2335  1474
 1    2335  2336
 2    1690  2112
 3    1702  1966
 4     304   279
 ..    ...   ...
 277  1954  1958
 278   739   701
 279   549   511
 280   980   121
 281  2433  1233

 [282 rows x 2 columns],
         0     1
 0      14   158
 1    1742   526
 2     155  1689
 3     728  1296
 4    2262  1015
 ..    ...   ...
 254   537  1593
 255   181  1683
 256  1950  1272
 257  1623  1769
 258   987  1175

 [259 rows x 2 columns],
         0     1
 0     756   512
 1     756   172
 2    1257  1206
 3    1392  2212
 4    1341  1224
 ..    ...   ...
 276  1927   769
 277  1518  1063
 278  1534  1429
 279  1755  1731
 280   181  1013

 [281 rows x 2 columns],
         0     1
 0    2151    93
 1      51  2213
 2      51  1392
 3     137   135
 4    1269   753
 ..    ...   ...
 259  1757  1358
 260  1042   373
 261  1757   957
 262  1042  2055
 263  1042    74

 [264 rows x 2 columns],
         0     1
 0    1118    74
 1    1846  2357
 2    2210   864
 3     595  2176
 4    2402  2403
 ..    ...   ...
 239  1103   748
 240  1103   263
 241   379  1898
 242  1358  1744
 243  1103  1888

 [244 rows x 2 columns],
         0     1
 0    2543   269
 1     177  2679
 2    1341  2425
 3    1690   118
 4    2427   349
 ..    ...   ...
 264  1701  1337
 265   317  1785
 266   578  1879
 267   437   498
 268   886   622

 [269 rows x 2 columns],
         0     1
 0    2151  2423
 1     137  2504
 2     137  2329
 3    2109  1975
 4    1906  1907
 ..    ...   ...
 209  1262   567
 210  1479   261
 211  1479  1894
 212  1479  1701
 213   513   657

 [214 rows x 2 columns],
         0     1
 0    1611  1462
 1    2414  1200
 2    2276   868
 3    1282  1283
 4    1052  1701
 ..    ...   ...
 203  1940   507
 204   217   243
 205  2101   702
 206  1495   645
 207  1495   437

 [208 rows x 2 columns],
         0     1
 0      61  1309
 1      61  2312
 2     864   104
 3    1257  1071
 4     484  1699
 ..    ...   ...
 250  1653    89
 251  1718  1103
 252  1976   147
 253  1183  1824
 254   263  1103

 [255 rows x 2 columns],
         0     1
 0    2206    48
 1     754  2450
 2    1269   737
 3    1392    51
 4    1257  2673
 ..    ...   ...
 245   119  1549
 246  1408  1826
 247   549   230
 248  1950   336
 249   119  1537

 [250 rows x 2 columns],
         0     1
 0    2543  2247
 1    1702  2238
 2      49  1666
 3     206  2691
 4    2335  2259
 ..    ...   ...
 217  2688  1657
 218  2656  1252
 219  1933  1413
 220  1927  1923
 221  1769   399

 [222 rows x 2 columns],
         0     1
 0    1330  2068
 1    1846  2117
 2    1735  1282
 3    2245  2246
 4    1257  2679
 ..    ...   ...
 243  1873   603
 244  1954  1955
 245  1701  1865
 246   194  1451
 247  2568  1023

 [248 rows x 2 columns],
         0     1
 0     756   885
 1    2148  1101
 2    2230   938
 3    2109   604
 4    1702  1365
 ..    ...   ...
 284   342  1512
 285  1760  1103
 286   726   177
 287   639   900
 288  1780  1623

 [289 rows x 2 columns],
         0     1
 0    2148   509
 1      61  1416
 2    1207  1102
 3    1154  1715
 4    1207  2464
 ..    ...   ...
 234   854   935
 235   270  1195
 236  1745    73
 237  1225  2579
 238   263   732

 [239 rows x 2 columns],
         0     1
 0    1761   223
 1    1735  1776
 2    1257  2671
 3    1705   487
 4    1761  2175
 ..    ...   ...
 249   558  1189
 250  2652   357
 251  2670  1194
 252    65   543
 253  1296    35

 [254 rows x 2 columns],
         0     1
 0    2199    95
 1     141   740
 2      69  2189
 3    1050  1380
 4     693   763
 ..    ...   ...
 245  1809  1810
 246  1156    65
 247  1156    55
 248   410   676
 249  1156   897

 [250 rows x 2 columns],
         0     1
 0    1203  1410
 1    1443  2240
 2    1443  1240
 3    1154   223
 4    1218  1927
 ..    ...   ...
 222   448   472
 223   307   991
 224   407  1681
 225  1536  2580
 226  1873  1701

 [227 rows x 2 columns],
         0     1
 0     231  2217
 1    2151  1224
 2     484  1775
 3    1573   598
 4    1761  1205
 ..    ...   ...
 264   959  2529
 265  2482  1056
 266  1927  1930
 267  1746  1358
 268   980  1623

 [269 rows x 2 columns],
         0     1
 0    2703  1298
 1    1269  1227
 2    1269  1314
 3    2199   680
 4    2146  2148
 ..    ...   ...
 268  1555   458
 269  1710   480
 270  1973  1976
 271  1780   139
 272  1031  1952

 [273 rows x 2 columns],
         0     1
 0      61  2162
 1    2521  2204
 2    2356  2357
 3      36  2107
 4    1282   905
 ..    ...   ...
 251  1042  2198
 252  1005  1541
 253   543    65
 254   607  1664
 255  1927  1924

 [256 rows x 2 columns],
         0     1
 0    1141   963
 1      69  1351
 2      16  2444
 3     239   619
 4     231  1868
 ..    ...   ...
 223  1745  1214
 224  1528   513
 225   779  1592
 226   811   855
 227   436  1982

 [228 rows x 2 columns],
         0     1
 0    2296   313
 1    2335   151
 2    2335  1519
 3    2161  1327
 4     708  2216
 ..    ...   ...
 281  1974  1973
 282   357   657
 283   549  1810
 284  1454     2
 285   410  1179

 [286 rows x 2 columns],
         0     1
 0    1443   761
 1    1846  1867
 2    1726  2168
 3    1703   963
 4    1703  1365
 ..    ...   ...
 248  1656  1367
 249   427  1528
 250   935   854
 251  1407  1263
 252  1931   507

 [253 rows x 2 columns],
         0     1
 0     756  1472
 1     756  2186
 2    1846  1013
 3     484   103
 4     231   551
 ..    ...   ...
 269   661   807
 270  1978   249
 271  1296  1911
 272   342  1072
 273  1296   895

 [274 rows x 2 columns],
         0     1
 0    2335  1385
 1     141  1002
 2    2146  1101
 3    1498  2349
 4    2249  1257
 ..    ...   ...
 257   407  1682
 258  1355  1957
 259  1074  1675
 260  1262   564
 261  1950  1334

 [262 rows x 2 columns],
         0     1
 0    1269  2227
 1    1682  1012
 2    1682  2319
 3    2365   616
 4     147  1976
 ..    ...   ...
 238   180  2076
 239   727  1386
 240  1103    53
 241   427   565
 242   942  1952

 [243 rows x 2 columns],
         0     1
 0      69  1926
 1     756   256
 2     756   433
 3     756  1692
 4      69  1914
 ..    ...   ...
 263   436   498
 264  2023  2217
 265  1582    44
 266   463  1964
 267   244  1358

 [268 rows x 2 columns],
         0     1
 0    1269  1630
 1    1392   710
 2    2335   627
 3    1269  1880
 4     239  1069
 ..    ...   ...
 206  1408  1553
 207  1517    74
 208   513  1528
 209   795   603
 210  2330  2329

 [211 rows x 2 columns],
         0     1
 0    1118  1416
 1    2206  1951
 2    2051  2364
 3     969   704
 4     969  1735
 ..    ...   ...
 255   936   246
 256  2688  1554
 257   543   984
 258  1933   507
 259   607   298

 [260 rows x 2 columns],
         0     1
 0     756  1469
 1     160   277
 2    1158  2251
 3    1772  1564
 4    1158   589
 ..    ...   ...
 201  1171  1355
 202  1809   962
 203  1296  1912
 204  1296  1910
 205  1933   251

 [206 rows x 2 columns]]

In [19]:
# Use case 2: `data` property
# Since there are multiple batches of data. 
# The `data` property will return the loader itsel
data = edge_loader.data

In [20]:
%%time
print("Number of batches: ", sum(1 for batch in data))

Number of batches:  42
CPU times: user 207 ms, sys: 23.1 ms, total: 231 ms
Wall time: 3.17 s

### Vertex Loader

In [21]:
from tgml.dataloaders import VertexLoader

For the first time you initialize the loader on a graph in TigerGraph, the initialization might take half a minute as it installs the corresponding query to the database and optimizes it. However, the query installation only needs to be done once, so it will take no time when you initialize the loader on the same TG graph again.  

There are two ways to use the data loader. 
* First, it can be used as an iterator, which means you can loop through it to get every batch of data. If you load all vertices at once, there will be only one batch of data (of all the vertices) in the iterator. 
* Second, you can access the `data` property of the class directly. If there is only one batch of data, it will give you the batch directly instead of an iterator, which might make more sense in that case. If there are multiple batches of data to load, it will return the loader again.

Args to class:
* graph (TigerGraph): Connection to the TigerGraph database.
* batch_size (int, optional): Size of each batch. If given, `num_batches` will be recalculated based on batch size. Defaults to None.
* num_batches (int, optional): Number of batches to split the whole dataset. Defaults to 1.
* attributes (str, optional): Vertex attributes to get, separated by comma. Defaults to "".
* local_storage_path (str, optional): Place to store data locally. Defaults to "./tmp".
* cloud_storage_path (str, optional): S3 path used for cloud caching. Defaults to None.
* buffer_size (int, optional): Number of data batches to prefetch and store in memory. Defaults to 4.
* output_format (str, optional): Format of the output data of the loader. Only pandas dataframe is supported. Defaults to "dataframe".
* aws_access_key_id (str, optional): AWS access key. Defaults to None.
* aws_secret_access_key (str, optional): AWS access key secret. Defaults to None.

#### Load all vertices at once directly to local. Default.

In [22]:
%%time
vertex_loader = VertexLoader(tgraph, attributes="x,y")
# Note: vertex primary ID will be extracted automatically. 
# No need to specify it as an attribute.

CPU times: user 6.67 ms, sys: 2.53 ms, total: 9.2 ms
Wall time: 35.5 s

In [23]:
%%time
# Use case 1: as an iterator
data = []
for batch in vertex_loader:
    data.append(batch)

CPU times: user 91.6 ms, sys: 29.7 ms, total: 121 ms
Wall time: 1.07 s

In [24]:
data

[      primary_id                                                  x  y
 0           2703  0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 1            206  0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 2           1203  0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 3           1269  0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5
 4           1573  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 ...          ...                                                ... ..
 2703        1931  0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 2704         463  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 2705        1699  0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 ...  1
 2706        1780  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  1
 2707         968  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  1

 [2708 rows x 3 columns]]

In [25]:
%%time
# Use case 2: `data` property
data = vertex_loader.data

CPU times: user 5 µs, sys: 0 ns, total: 5 µs
Wall time: 8.82 µs

In [26]:
data

      primary_id                                                  x  y
0           2703  0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
1            206  0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
2           1203  0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
3           1269  0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5
4           1573  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
...          ...                                                ... ..
2703        1931  0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
2704         463  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
2705        1699  0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 ...  1
2706        1780  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  1
2707         968  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  1

[2708 rows x 3 columns]

#### Stream batches of vertices directly to local.

In [27]:
%%time
vertex_loader = VertexLoader(tgraph, 
                             batch_size=100,
                             attributes="x,y")

CPU times: user 6.96 ms, sys: 2.62 ms, total: 9.58 ms
Wall time: 36.1 s

In [28]:
%%time
# Use case 1: as an iterator
data = []
for batch in vertex_loader:
    data.append(batch)

CPU times: user 265 ms, sys: 67.2 ms, total: 332 ms
Wall time: 2.37 s

In [30]:
print("Number of batches: ", len(data))
data

Number of batches:  28

[     primary_id                                                  x  y
 0          1051  0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 1          2703  0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 2          2118  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 3          1550  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 4          2448  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 ..          ...                                                ... ..
 97         1349  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 98           64  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 99         1337  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  1
 100         427  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 101        1984  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4

 [102 rows x 3 columns],
      primary_id                                                  x  y
 0          1573  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 1           939  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  6
 2          1368  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5
 3           367  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 4          2020  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  4
 ..          ...                                                ... ..
 96         1464  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  6
 97          579  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 98         2413  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 99         2688  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 ...  3
 100         824  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2

 [101 rows x 3 columns],
     primary_id                                                  x  y
 0         2206  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 1         1708  0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 2          825  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 3         2409  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 4           22  0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 ...  4
 ..         ...                                                ... ..
 93        1978  0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5
 94        1835  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  6
 95         590  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 96        1760  0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 97        1518  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 ...  4

 [98 rows x 3 columns],
     primary_id                                                  x  y
 0         1703  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 1         1635  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 2         2035  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 3         1256  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 4         2506  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5
 ..         ...                                                ... ..
 90         194  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 ...  4
 91        1782  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  1
 92         726  0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 93         263  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 94        1809  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3

 [95 rows x 3 columns],
     primary_id                                                  x  y
 0         2543  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 1         1118  0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 ...  0
 2          718  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 3         2480  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  6
 4          165  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 ..         ...                                                ... ..
 93        1499  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 94        1215  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  6
 95        1924  0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 96        1230  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 97        1780  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  1

 [98 rows x 3 columns],
     primary_id                                                  x  y
 0         1269  0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5
 1          137  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  1
 2          483  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5
 3          694  0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 ...  5
 4         2379  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  4
 ..         ...                                                ... ..
 93        1845  0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 ...  5
 94        2341  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 95        1219  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 96        1626  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 97         968  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  1

 [98 rows x 3 columns],
     primary_id                                                  x  y
 0          756  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 1          484  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  1
 2         1979  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5
 3         1742  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 4         2668  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 ..         ...                                                ... ..
 92        1322  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 93         468  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5
 94        1637  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 95        1407  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 96        2288  0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5

 [97 rows x 3 columns],
     primary_id                                                  x  y
 0         1846  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 1         1726  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  2
 2          841  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 3         1533  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 4          135  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  1
 ..         ...                                                ... ..
 90          55  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 91         183  0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 92        1866  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 93        1109  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 94         987  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3

 [95 rows x 3 columns],
     primary_id                                                  x  y
 0          206  0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 1          141  0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 ...  3
 2          434  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 3         2249  0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 4         2102  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5
 ..         ...                                                ... ..
 93         558  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 94         646  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5
 95        2677  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 96         345  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 97        1275  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0

 [98 rows x 3 columns],
     primary_id                                                  x  y
 0         1341  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 1          797  0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 2         1295  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 3         1392  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 4         2125  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 ..         ...                                                ... ..
 91        1940  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 92        2149  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 93         843  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 94         966  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 95         119  0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5

 [96 rows x 3 columns],
     primary_id                                                  x  y
 0         2521  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 1          595  0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 ...  3
 2         2096  0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 ...  1
 3           61  0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 ...  0
 4         2232  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 ..         ...                                                ... ..
 90        2478  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  1
 91        1423  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 92        1700  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5
 93        1272  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 94        1183  1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5

 [95 rows x 3 columns],
     primary_id                                                  x  y
 0         2697  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 1         1702  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 2          569  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 3         2112  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  6
 4         1323  0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 ..         ...                                                ... ..
 87        1613  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 88        1454  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  4
 89        1603  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 90        2265  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 91         156  0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2

 [92 rows x 3 columns],
     primary_id                                                  x  y
 0         2151  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  6
 1          239  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 2          130  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5
 3         1141  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  4
 4         2255  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 ...  1
 ..         ...                                                ... ..
 92        2330  0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 93         684  0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 94        1534  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  4
 95          73  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 96          13  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3

 [97 rows x 3 columns],
     primary_id                                                  x  y
 0         1201  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 1         2135  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  6
 2         2382  1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  4
 3          195  0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 4          480  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  2
 ..         ...                                                ... ..
 91        2383  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  4
 92        2299  0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 93        1747  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 94        2099  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 95        1074  0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  6

 [96 rows x 3 columns],
     primary_id                                                  x  y
 0         2210  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  1
 1         2446  0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 ...  2
 2         1480  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 3           14  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 4         1915  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  6
 ..         ...                                                ... ..
 87        1574  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 88        2544  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 89        1418  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 90        2429  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  1
 91         234  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  1

 [92 rows x 3 columns],
     primary_id                                                  x  y
 0         2011  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 1         1052  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 2         2111  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5
 3         1761  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 4          858  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 ..         ...                                                ... ..
 87        1890  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 88        1738  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 89         402  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 90        1047  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 91         807  0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5

 [92 rows x 3 columns],
     primary_id                                                  x  y
 0         2277  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 1         1282  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 2         1611  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 3         2250  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 4         1210  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 ..         ...                                                ... ..
 91        1078  0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 92         685  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  1
 93         543  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 94        2006  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 95         307  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  6

 [96 rows x 3 columns],
     primary_id                                                  x  y
 0          658  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 1          258  1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  4
 2         2199  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 3         1134  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 4         1285  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 ..         ...                                                ... ..
 91         619  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 92        2019  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 93        2649  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 ...  6
 94        1514  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 95        1156  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0

 [96 rows x 3 columns],
     primary_id                                                  x  y
 0          708  0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 1         2163  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 2         1138  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 3         2296  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 4         1837  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 ..         ...                                                ... ..
 91        2433  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 92         317  0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 93        1819  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 94        2101  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5
 95         688  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4

 [96 rows x 3 columns],
     primary_id                                                  x  y
 0         2194  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 1         1154  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 2         1796  0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 3           49  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 4         1824  0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5
 ..         ...                                                ... ..
 90          28  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 91        2306  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 92          47  0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5
 93         779  0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  6
 94         854  0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4

 [95 rows x 3 columns],
     primary_id                                                  x  y
 0          815  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 1         1194  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 2          641  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 3         1218  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 4          891  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  6
 ..         ...                                                ... ..
 93        2468  1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  6
 94        1127  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 95        2242  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 96        1099  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 97        1410  0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0

 [98 rows x 3 columns],
     primary_id                                                  x  y
 0         2189  0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 1          693  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 2         2081  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  1
 3          831  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  1
 4          228  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  2
 ..         ...                                                ... ..
 93         591  0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 94        2186  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 95        1296  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 96          38  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 97        1176  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3

 [98 rows x 3 columns],
     primary_id                                                  x  y
 0         1772  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  1
 1          969  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 2         2315  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 3           16  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 4          818  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 ..         ...                                                ... ..
 92        2455  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  6
 93        1773  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  1
 94         959  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 95          50  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5
 96        1933  0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 ...  3

 [97 rows x 3 columns],
     primary_id                                                  x  y

In [31]:
# Use case 2: `data` property
# Since there are multiple batches of data. 
# The `data` property will return the loader itsel
data = vertex_loader.data

In [32]:
%%time
print("Number of batches: ", sum(1 for batch in data))

Number of batches:  28
CPU times: user 234 ms, sys: 53.7 ms, total: 288 ms
Wall time: 2.35 s

### Graph Loader

#### Load the whole graph directly to local

In [33]:
from tgml.dataloaders import GraphLoader

For the first time you initialize the loader on a graph in TigerGraph, the initialization might take half a minute as it installs the corresponding query to the database and optimizes it. However, the query installation only needs to be done once, so it will take no time when you initialize the loader on the same TG graph again.  

There are two ways to use the data loader. 
* First, it can be used as an iterator, which means you can loop through it to get every batch of data. Since this loader loads the whole graph at once, there will be only one batch of data (of the whole graph) in the iterator. 
* Second, you can access the `data` property of the class directly. Since there is only one batch of data (the whole graph), it will give you the batch directly instead of an iterator.

Args to the class:
* graph (TigerGraph): Connection to the TigerGraph database.
* v_in_feats (str, optional): Attributes to be used as input features and their types. Attributes should be separated by ',' and an attribute and its type should be separated by ':'. The type of an attribute can be omitted together with the separator ':', and the attribute will be default to type "float32". and Defaults to "".
* v_out_labels (str, optional): Attributes to be used as labels for prediction. It follows the same format as 'v_in_feats'. Defaults to "".
* v_extra_feats (str, optional): Other attributes to get such as indicators of train/test data. It follows the same format as 'v_in_feats'. Defaults to "".
* local_storage_path (str, optional): Place to store data locally. Defaults to "./tmp".
* cloud_storage_path (str, optional): S3 path used for cloud caching. Defaults to None.
* buffer_size (int, optional): Number of data batches to prefetch and store in memory. Defaults to 4.
* output_format (str, optional): Format of the output data of the loader. Only "PyG" is supported. Defaults to "PyG".
* reindex (bool, optional): Whether to reindex the vertices. Defaults to False.
* aws_access_key_id (str, optional): AWS access key. Defaults to None.
* aws_secret_access_key (str, optional): AWS access key secret. Defaults to None.

In [34]:
%%time
graph_loader = GraphLoader(
                 graph = tgraph,
                 v_in_feats = "x:float32",
                 v_out_labels = "y:int",
                 v_extra_feats = "train_mask:bool,val_mask:bool,test_mask:bool",
                 output_format = "PyG",
                 reindex=False)

CPU times: user 4.2 ms, sys: 2.06 ms, total: 6.26 ms
Wall time: 37.9 s

In [35]:
%%time
# Use case 1: as an iterator.
data = []
for batch in graph_loader:
    data.append(batch)

CPU times: user 570 ms, sys: 64.4 ms, total: 634 ms
Wall time: 2.35 s

In [36]:
data

[Data(edge_index=[2, 10556], x=[2708, 1433], y=[2708], train_mask=[2708], val_mask=[2708], test_mask=[2708])]

In [37]:
%%time
# Use case 2: `.data` property
data = graph_loader.data

CPU times: user 7 µs, sys: 0 ns, total: 7 µs
Wall time: 11.2 µs

In [38]:
data

Data(edge_index=[2, 10556], x=[2708, 1433], y=[2708], train_mask=[2708], val_mask=[2708], test_mask=[2708])

#### Stream subgraphs with neighbor sampling

In [39]:
from tgml.dataloaders import NeighborLoader

A data loader that performs neighbor sampling as introduced in the [Inductive Representation Learning on Large Graphs](https://arxiv.org/abs/1706.02216) paper. 

Specifically, it first chooses `batch_size` number of vertices as seeds, then picks `num_neighbors` number of neighbors of each seed at random, then `num_neighbors` neighbors of each neighbor, and repeat for `num_hops`. This generates one subgraph. As you loop through this data loader, all vertices will be chosen as seeds and you will get all subgraphs expanded from those seeds.

If you want to limit seeds to certain vertices, the boolean attribute provided to `filter_by` will be used to indicate which vertices can be included as seeds.

For the first time you initialize the loader on a graph in TigerGraph, the initialization might take half a minute as it installs the corresponding query to the database and optimizes it. However, the query installation only needs to be done once, so it will take no time when you initialize the loader on the same TG graph again.  

Args to this class:
* graph (TigerGraph): Connection to the TigerGraph database.
* tmp_id (str, optional): Attribute name that holds the temporary ID of 
                vertices. Defaults to "tmp_id".
* v_in_feats (str, optional): Attributes to be used as input features and their types. Attributes should be separated by ',' and an attribute and its type should be separated by ':'. The type of an attribute can be omitted together with the separator ':', and the attribute will be default to type "float32". and Defaults to "".
* v_out_labels (str, optional): Attributes to be used as labels for prediction. It follows the same format as 'v_in_feats'. Defaults to "".
* v_extra_feats (str, optional): Other attributes to get such as indicators of train/test data. It follows the same format as 'v_in_feats'. Defaults to "".
* local_storage_path (str, optional): Place to store data locally. 
                Defaults to "./tmp".
* cloud_storage_path (str, optional): S3 or GCP path used for cloud caching. 
                Defaults to None.
* buffer_size (int, optional): Number of data batches to prefetch and store 
                in memory. Defaults to 4.
* output_format (str, optional): Format of the output data of the loader. Only
                "PyG" is supported. Defaults to "PyG".
* batch_size (int, optional): Number of vertices as seeds in each batch. 
                Defaults to None.
* num_batches (int, optional): Number of batches to split the vertices. 
                Defaults to 1.
* num_neighbors (int, optional): Number of neighbors to sample for each vertex. 
                Defaults to 10.
* num_hops (int, optional): Number of hops to traverse when sampling neighbors. 
                Defaults to 2.
* cache_id (str, optional): A tag attached to data generated. 
                Defaults to None.
* shuffle (bool, optional): Whether to shuffle the vertices after every epoch. 
                Defaults to False.
* filter_by (str, optional): A boolean attribute used to indicate which vertices 
                can be included as seeds. Defaults to None.
* aws_access_key_id (str, optional): AWS access key. Defaults to None.
* aws_secret_access_key (str, optional): AWS access key secret. Defaults to None.

In [40]:
%%time
neighbor_loader = NeighborLoader(
                 graph = tgraph,
                 tmp_id = "tmp_id",
                 v_in_feats = "x:float32",
                 v_out_labels = "y:int",
                 v_extra_feats = "train_mask:bool,val_mask:bool,test_mask:bool",
                 output_format = "PyG",
                 batch_size = 64,
                 num_neighbors = 10,
                 num_hops =2)

CPU times: user 30.5 ms, sys: 10.4 ms, total: 41 ms
Wall time: 2min 24s

In [41]:
%%time
data = []
for batch in neighbor_loader:
    data.append(batch)
print("Number of batches: ", len(data))

Number of batches:  43
CPU times: user 9.06 s, sys: 512 ms, total: 9.58 s
Wall time: 17 s

In [42]:
data

[Data(edge_index=[2, 4312], x=[1076, 1433], y=[1076], train_mask=[1076], val_mask=[1076], test_mask=[1076]),
 Data(edge_index=[2, 3835], x=[991, 1433], y=[991], train_mask=[991], val_mask=[991], test_mask=[991]),
 Data(edge_index=[2, 3087], x=[825, 1433], y=[825], train_mask=[825], val_mask=[825], test_mask=[825]),
 Data(edge_index=[2, 2461], x=[803, 1433], y=[803], train_mask=[803], val_mask=[803], test_mask=[803]),
 Data(edge_index=[2, 3130], x=[909, 1433], y=[909], train_mask=[909], val_mask=[909], test_mask=[909]),
 Data(edge_index=[2, 3717], x=[1005, 1433], y=[1005], train_mask=[1005], val_mask=[1005], test_mask=[1005]),
 Data(edge_index=[2, 3036], x=[823, 1433], y=[823], train_mask=[823], val_mask=[823], test_mask=[823]),
 Data(edge_index=[2, 3444], x=[921, 1433], y=[921], train_mask=[921], val_mask=[921], test_mask=[921]),
 Data(edge_index=[2, 4011], x=[1115, 1433], y=[1115], train_mask=[1115], val_mask=[1115], test_mask=[1115]),
 Data(edge_index=[2, 3229], x=[820, 1433], y=[820], train_mask=[820], val_mask=[820], test_mask=[820]),
 Data(edge_index=[2, 3565], x=[959, 1433], y=[959], train_mask=[959], val_mask=[959], test_mask=[959]),
 Data(edge_index=[2, 3743], x=[1027, 1433], y=[1027], train_mask=[1027], val_mask=[1027], test_mask=[1027]),
 Data(edge_index=[2, 3261], x=[927, 1433], y=[927], train_mask=[927], val_mask=[927], test_mask=[927]),
 Data(edge_index=[2, 2825], x=[889, 1433], y=[889], train_mask=[889], val_mask=[889], test_mask=[889]),
 Data(edge_index=[2, 3252], x=[963, 1433], y=[963], train_mask=[963], val_mask=[963], test_mask=[963]),
 Data(edge_index=[2, 4289], x=[1017, 1433], y=[1017], train_mask=[1017], val_mask=[1017], test_mask=[1017]),
 Data(edge_index=[2, 3833], x=[1100, 1433], y=[1100], train_mask=[1100], val_mask=[1100], test_mask=[1100]),
 Data(edge_index=[2, 4465], x=[1131, 1433], y=[1131], train_mask=[1131], val_mask=[1131], test_mask=[1131]),
 Data(edge_index=[2, 3077], x=[880, 1433], y=[880], train_mask=[880], val_mask=[880], test_mask=[880]),
 Data(edge_index=[2, 3649], x=[1015, 1433], y=[1015], train_mask=[1015], val_mask=[1015], test_mask=[1015]),
 Data(edge_index=[2, 3338], x=[900, 1433], y=[900], train_mask=[900], val_mask=[900], test_mask=[900]),
 Data(edge_index=[2, 3281], x=[870, 1433], y=[870], train_mask=[870], val_mask=[870], test_mask=[870]),
 Data(edge_index=[2, 3957], x=[1089, 1433], y=[1089], train_mask=[1089], val_mask=[1089], test_mask=[1089]),
 Data(edge_index=[2, 3912], x=[986, 1433], y=[986], train_mask=[986], val_mask=[986], test_mask=[986]),
 Data(edge_index=[2, 4950], x=[1207, 1433], y=[1207], train_mask=[1207], val_mask=[1207], test_mask=[1207]),
 Data(edge_index=[2, 3609], x=[928, 1433], y=[928], train_mask=[928], val_mask=[928], test_mask=[928]),
 Data(edge_index=[2, 1828], x=[604, 1433], y=[604], train_mask=[604], val_mask=[604], test_mask=[604]),
 Data(edge_index=[2, 3538], x=[958, 1433], y=[958], train_mask=[958], val_mask=[958], test_mask=[958]),
 Data(edge_index=[2, 2712], x=[854, 1433], y=[854], train_mask=[854], val_mask=[854], test_mask=[854]),
 Data(edge_index=[2, 3544], x=[978, 1433], y=[978], train_mask=[978], val_mask=[978], test_mask=[978]),
 Data(edge_index=[2, 2694], x=[771, 1433], y=[771], train_mask=[771], val_mask=[771], test_mask=[771]),
 Data(edge_index=[2, 2954], x=[865, 1433], y=[865], train_mask=[865], val_mask=[865], test_mask=[865]),
 Data(edge_index=[2, 4626], x=[1106, 1433], y=[1106], train_mask=[1106], val_mask=[1106], test_mask=[1106]),
 Data(edge_index=[2, 4825], x=[1183, 1433], y=[1183], train_mask=[1183], val_mask=[1183], test_mask=[1183]),
 Data(edge_index=[2, 2435], x=[745, 1433], y=[745], train_mask=[745], val_mask=[745], test_mask=[745]),
 Data(edge_index=[2, 3729], x=[1014, 1433], y=[1014], train_mask=[1014], val_mask=[1014], test_mask=[1014]),
 Data(edge_index=[2, 3570], x=[1011, 1433], y=[1011], train_mask=[1011], val_mask=[1011], test_mask=[1011]),
 Data(edge_index=[2, 4178], x=[1120, 1433], y=[1120], train_mask=[1120], val_mask=[1120], test_mask=[1120]),
 Data(edge_index=[2, 3043], x=[842, 1433], y=[842], train_mask=[842], val_mask=[842], test_mask=[842]),
 Data(edge_index=[2, 3334], x=[879, 1433], y=[879], train_mask=[879], val_mask=[879], test_mask=[879]),
 Data(edge_index=[2, 3566], x=[907, 1433], y=[907], train_mask=[907], val_mask=[907], test_mask=[907]),
 Data(edge_index=[2, 2894], x=[865, 1433], y=[865], train_mask=[865], val_mask=[865], test_mask=[865]),
 Data(edge_index=[2, 4122], x=[1007, 1433], y=[1007], train_mask=[1007], val_mask=[1007], test_mask=[1007])]

In [43]:
%%time
neighbor_loader = NeighborLoader(
                 graph = tgraph,
                 tmp_id = "tmp_id",
                 v_in_feats = "x:float32",
                 v_out_labels = "y:int",
                 v_extra_feats = "train_mask:bool,val_mask:bool,test_mask:bool",
                 output_format = "PyG",
                 batch_size = 16,
                 num_neighbors = 10,
                 num_hops =2,
                 filter_by = "train_mask")

CPU times: user 10.5 ms, sys: 0 ns, total: 10.5 ms
Wall time: 61.7 ms

In [44]:
%%time
data = []
for batch in neighbor_loader:
    data.append(batch)
print("Number of batches: ", len(data))

Number of batches:  9
CPU times: user 2.09 s, sys: 72.2 ms, total: 2.16 s
Wall time: 1.28 s

In [45]:
data

[Data(edge_index=[2, 1065], x=[287, 1433], y=[287], train_mask=[287], val_mask=[287], test_mask=[287]),
 Data(edge_index=[2, 565], x=[212, 1433], y=[212], train_mask=[212], val_mask=[212], test_mask=[212]),
 Data(edge_index=[2, 464], x=[170, 1433], y=[170], train_mask=[170], val_mask=[170], test_mask=[170]),
 Data(edge_index=[2, 907], x=[308, 1433], y=[308], train_mask=[308], val_mask=[308], test_mask=[308]),
 Data(edge_index=[2, 1234], x=[330, 1433], y=[330], train_mask=[330], val_mask=[330], test_mask=[330]),
 Data(edge_index=[2, 1123], x=[294, 1433], y=[294], train_mask=[294], val_mask=[294], test_mask=[294]),
 Data(edge_index=[2, 1727], x=[435, 1433], y=[435], train_mask=[435], val_mask=[435], test_mask=[435]),
 Data(edge_index=[2, 1057], x=[329, 1433], y=[329], train_mask=[329], val_mask=[329], test_mask=[329]),
 Data(edge_index=[2, 824], x=[282, 1433], y=[282], train_mask=[282], val_mask=[282], test_mask=[282])]

### Smart Cloud Caching

When you provide `cloud_storage_path` when creating a loader (including all vertex, edge, graph loaders), data will be moved to a cloud storage first and then downloaded to local, so it will be slower compared to streaming directly from the server. However, when there are multiple consumers of the same data such as when trying out different models in parallel or tuning hyperparameters, the cloud caching would reduce workload of the server, and consequently it might be faster than hitting the server from multiple consumers at the same time.

To share the cloud cache between different consumers, provide the same `cache_id` when creating the loaders. Below we create two loaders in this same python session to demo the use of cloud caching; in practice, you would run parallel python sessions with each having its own loader.

In [46]:
%%time
vertex_loader = VertexLoader(tgraph, 
                             batch_size=100,
                             attributes="x,y",
                             cache_id="test_smart_cache",
                             cloud_storage_path="s3://graph-export-dev/cora_vertices",
                             aws_access_key_id="your aws_access_key_id", # This can be read from the env variable `AWS_ACCESS_KEY_ID` as well
                             aws_secret_access_key=" your aws_secret_access_key" # This can be read from the env variable `AWS_SECRET_ACCESS_KEY` as well
                             )

CPU times: user 8.92 ms, sys: 57 µs, total: 8.97 ms
Wall time: 35.1 ms

In [47]:
%%time
data = []
for batch in vertex_loader:
    data.append(batch)

CPU times: user 1.04 s, sys: 118 ms, total: 1.16 s
Wall time: 11.1 s

In [48]:
data

[     primary_id                                                  x  y
 0          2703  0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 1          1051  0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 2          1550  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 3          2593  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 4           857  0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  4
 ..          ...                                                ... ..
 97          432  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 98          692  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 99         1873  0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 100         181  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  6
 101        2608  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  6

 [102 rows x 3 columns],
      primary_id                                                  x  y
 0           367  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 1          2020  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  4
 2          1368  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5
 3          1573  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 4           332  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 ..          ...                                                ... ..
 96         1604  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 97          739  0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  5
 98         1691  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 99          414  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 ...  6
 100         404  0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 ...  6

 [101 rows x 3 columns],
     primary_id                                                  x  y
 0         2206  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 1          861  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 2         2409  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 3         1708  0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 4           22  0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 ...  4
 ..         ...                                                ... ..
 93         618  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 94        1518  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 ...  4
 95         270  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 96        1857  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 97        1978  0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5

 [98 rows x 3 columns],
     primary_id                                                  x  y
 0         2035  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 1          728  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5
 2           69  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  6
 3         1703  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 4         1851  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  6
 ..         ...                                                ... ..
 90        1782  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  1
 91         726  0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 92         698  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 93        1699  0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 ...  1
 94        1809  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3

 [95 rows x 3 columns],
     primary_id                                                  x  y
 0          972  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 1         2480  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  6
 2         1118  0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 ...  0
 3         2543  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 4            0  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 ..         ...                                                ... ..
 93        2182  0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 94        1780  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  1
 95        1924  0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 96        1053  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 97        1230  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4

 [98 rows x 3 columns],
     primary_id                                                  x  y
 0         1269  0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5
 1          137  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  1
 2         2058  0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5
 3          724  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  6
 4         1969  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 ..         ...                                                ... ..
 93        1212  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 94        2119  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 95         931  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  2
 96         513  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 97         786  1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4

 [98 rows x 3 columns],
     primary_id                                                  x  y
 0         2354  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 1          484  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  1
 2         2668  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 3          756  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 4         2240  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 ..         ...                                                ... ..
 92        1322  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 93        1407  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 94         700  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 95        1637  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 96         468  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5

 [97 rows x 3 columns],
     primary_id                                                  x  y
 0          135  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  1
 1         1846  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 2         1726  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  2
 3         1874  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 4           17  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 ..         ...                                                ... ..
 90          95  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 91        1489  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 92        1109  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 93         448  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5
 94         987  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3

 [95 rows x 3 columns],
     primary_id                                                  x  y
 0         2335  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  4
 1          141  0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 ...  3
 2          206  0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 3         1482  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  6
 4          160  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 ..         ...                                                ... ..
 93        1888  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 94        1161  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 95         170  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 96         345  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 97         646  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5

 [98 rows x 3 columns],
     primary_id                                                  x  y
 0         1341  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 1         2264  0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 2         2414  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 3          797  0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 4         1411  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 ..         ...                                                ... ..
 91         661  0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5
 92         966  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 93        1940  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 94        1039  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5
 95         119  0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5

 [96 rows x 3 columns],
     primary_id                                                  x  y
 0           61  0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 ...  0
 1          531  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  0
 2         2508  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 3          595  0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 ...  3
 4         1389  0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  2
 ..         ...                                                ... ..
 90        1183  1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5
 91        1931  0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 92        1744  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 93        1005  0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 94         527  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0

 [95 rows x 3 columns],
     primary_id                                                  x  y
 0         1702  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 1           81  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 2         2112  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  6
 3         2697  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 4          569  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 ..         ...                                                ... ..
 87        1509  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 88        1454  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  4
 89         156  0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 90         391  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 91        1603  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3

 [92 rows x 3 columns],
     primary_id                                                  x  y
 0          239  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 1         1141  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  4
 2         1460  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 3          963  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 ...  4
 4          225  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  1
 ..         ...                                                ... ..
 92         826  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5
 93          13  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 94        1534  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  4
 95        1528  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 96         326  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2

 [97 rows x 3 columns],
     primary_id                                                  x  y
 0         1033  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  2
 1         1497  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 2         1443  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 3         1619  0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5
 4          480  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  2
 ..         ...                                                ... ..
 91         680  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 92         296  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 93         659  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 94        1747  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 95        1927  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0

 [96 rows x 3 columns],
     primary_id                                                  x  y
 0           14  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 1         1480  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 2         1682  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 3          523  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 4          754  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 ..         ...                                                ... ..
 87        1828  0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5
 88        1418  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 89        1656  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  1
 90         808  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  4
 91        1574  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3

 [92 rows x 3 columns],
     primary_id                                                  x  y
 0           51  0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 1         1052  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 2          858  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 3         2111  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5
 4         2011  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 ..         ...                                                ... ..
 87         402  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 88         980  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  1
 89         410  0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  5
 90        1425  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  4
 91         574  0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 ...  3

 [92 rows x 3 columns],
     primary_id                                                  x  y
 0         1203  0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 1         1056  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 2          518  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 3         2051  0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 ...  0
 4         1282  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 ..         ...                                                ... ..
 91         457  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 92         418  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 93         436  0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 94        2006  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 95         543  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0

 [96 rows x 3 columns],
     primary_id                                                  x  y
 0         1285  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 1          632  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 2          258  1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  4
 3          658  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 4         2230  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 ..         ...                                                ... ..
 91        2019  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 92         541  0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5
 93         619  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 94        1156  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 95        1514  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3

 [96 rows x 3 columns],
     primary_id                                                  x  y
 0         1690  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5
 1         1837  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 2         1735  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  1
 3         2163  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 4          708  0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 ..         ...                                                ... ..
 91        1345  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  2
 92        1719  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 93         217  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 94        2637  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 95        1031  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3

 [96 rows x 3 columns],
     primary_id                                                  x  y
 0         1796  0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 1         2194  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 2         1207  0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 3           49  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 4         1154  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 ..         ...                                                ... ..
 90         132  0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5
 91         854  0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 92        2676  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 93         819  0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 94        1466  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2

 [95 rows x 3 columns],
     primary_id                                                  x  y
 0         1218  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 1          815  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 2         1050  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 ...  4
 3         1194  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 4         1336  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 ..         ...                                                ... ..
 93        1099  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 94         387  0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 95        1204  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  1
 96         251  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 97         335  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3

 [98 rows x 3 columns],
     primary_id                                                  x  y
 0          693  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 1         2245  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  3
 2         2081  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  1
 3         2189  0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0
 4          831  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  1
 ..         ...                                                ... ..
 93        1821  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 94        1381  0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 95        1585  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  4
 96        1555  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5
 97        1296  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  0

 [98 rows x 3 columns],
     primary_id                                                  x  y
 0         1772  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  1
 1           56  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  6
 2         2315  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  3
 3          969  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  2
 4         2209  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  6
 ..         ...                                                ... ..
 92        2455  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  6
 93        1883  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5
 94         794  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 ...  0
 95         419  0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5
 96          50  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...  5

 [97 rows x 3 columns],
     primary_id                                                  x  y

In [49]:
%%time
vertex_loader2 = VertexLoader(tgraph, 
                             batch_size=100,
                             attributes="x,y",
                             cache_id="test_smart_cache",
                             cloud_storage_path="s3://graph-export-dev/cora_vertices",
                             aws_access_key_id="your aws_access_key_id", # This can be read from the env variable `AWS_ACCESS_KEY_ID` as well
                             aws_secret_access_key=" your aws_secret_access_key" # This can be read from the env variable `AWS_SECRET_ACCESS_KEY` as well
                             )

CPU times: user 9.84 ms, sys: 0 ns, total: 9.84 ms
Wall time: 33.7 ms

In [50]:
%%time
data2 = []
for batch in vertex_loader2:
    data2.append(batch)

CPU times: user 926 ms, sys: 90.4 ms, total: 1.02 s
Wall time: 5.53 s

In [51]:
for d1,d2 in zip(data,data2):
    assert all(d1==d2)